body{
  background-color: gainsboro;
}
body #container{
  background-color: white;
  margin: 0 auto;
  border: 1px solid gray;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 5px #333;
   -webkit-box-shadow: 3px 3px 5px #333;
   -moz-box-shadow: 3px 3px 5px #333;
}
div #container{
  background-color: white;
  margin: 0 auto;
  border: 1px solid gray;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 40px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 5px #333;
   -webkit-box-shadow: 3px 3px 5px #333;
   -moz-box-shadow: 3px 3px 5px #333;
}
main{
  margin-top: 40px;
}
#titulo{
  height: 60px;
  background-color: black;
  font-size: 40px;
  padding-top: 30px;
  padding-left: 20px;
  color: white;
  text-shadow: 3px 3px 2px gray;
  border-bottom: 2px solid white;
}
.logout{
  width: 100px;
  float: right;
  margin-right: 100px;
  font-size: large;
}
footer{
  margin-top: 60px;
  text-align: center;
}
#formServ{
  margin-left: 40%;
  margin-right: 35%;
}
#caixaTipo{
  width: 295px;
}
#caixaSelecao{
  width: 400px;
}
nav{
	width:100%;
	height:40px;
	padding-left:3px;
	border-top-width:1px;
	border-top-color:black;
	border-bottom-width:1px;
	border-bottom-color:black;
}
nav li{
	list-style-type: none;
	display: inline;
	text-align: center;
	padding-left:23px;
	padding-right:23px;
	padding-top:8px;
	padding-bottom:8px;
	background-color: DimGrey;
	border-radius: 7px;
	margin-right:3px;
}
nav ul{
	margin-left:6px;
	margin-top:11px;
	width: 100%;
}
nav a:link{
	text-decoration:none;
	color:white;
}
nav a:visited{
	color:white
}
nav li:hover{
	background-color:black;
	opacity: 0.5;
}
